
/* PAGE 1 CSS  ---------------------------- */
html{
    background-color: #744a2c;
    background-image: linear-gradient(to bottom left, black, #744a2c);
    background-repeat: no repeat;
    background-size: 6600%;
}

/* header CSS for the "BCL 4 RESUMES */
.childheader{
    font-family: 'Nunito', sans-serif;
    grid-area: header;
    display: block;
    justify-content: left;
    
    
    /* fix the header part */
}


#headline2 {
    display: flex;
    /* justify-content: center; */
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: aliceblue;
    justify-content: space-evenly;
    /* background-color: black; */
}
/* trying to make my nav bar wigggle at random and oddly this was a lot harder and time cosuming than I expected.. BUT! keeping it here because
I love to see the effort that I put into it */

/* @keyframe .child nav2 {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);  
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform:  translateX(-8px);
    }
} */



.slogan {
    grid-area: slogan;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size:  150%;
    background-color: yellowgreen;
    border-radius: 30%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: 15%;
    width: 50%;
    /* background-position: center; */

}
#job {
    text-align: center;
}
.sellingpoint {
    font-size: 20px;
    font-family: fantasy;
    display: grid;
    grid-column: inherit;
    color: aliceblue;
    /* add animation here */
    /* fix this part to match the columns */
}
/* PARALLAX EFFECT FOR PAGE 1 */
.wrap {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 5px;
}
.secwrap {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-shadow:  0 0 50px rgba(0, 0, 0, 0.9);
}
.onwrap::after {
    content: " ";
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 50%;
    left: 0;
    transform: translateZ(-2px)scale(2.0);
    background-size: 100%;
    z-index: -2;
}
.onwrap2::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 5px;
    left: 0;
    transform: translateZ(-1px)scale(1.5);
    background-size: 100%;
    z-index: -1;
}
/* ADDED THE BACKGROUND TO THE PARRALLAX EFFECT */
.backg1::after {
    background-image: url(../images/interviewing.jpg);
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;

}
.backg2::after {
    background-image: url(../images/photo8.jpeg);
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
}

#p1 {
    font-size: 50px;
    margin-left: 20%;
    text-align: center;
    background-color: rgb(3, 3, 3);
    opacity: .5;
    border-radius: 15%;
    box-shadow: 3px 3px 50px black;
}
a{
    text-decoration: none;
    font-size: 45px;
    color: aliceblue;
}


/* PAGE 2 CSS ----------------------------- */



.container2 > div {
    /* border: solid; */
}
.container > div {
    border: solid;
    font-size: 200%;
}
.container{
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 450px 450px 450px 450px;
    grid-template-areas:
    
        "header nav nav"
        "header blog blog"
        "footer1 footer1 footer1"
        "footer footer footer";
    grid-gap: 10px;
    margin-top: 10%;
}
.header{
    grid-area: header;
    /* border-radius: 40%; */
    border: none;
}

.nav{
    grid-area: nav;
    text-decoration: none;
}
#pic1 {
    height: 100%;
    width: 100%; 
}
#began {
    color: aliceblue;
    font-size: 85%;
    font-family: 'Times New Roman', Times, serif;
    text-align: wrap;
}
.blog{
    grid-area: blog;
}
.footer1{
    grid-area: footer1;
}
.footer{
    grid-area: footer;
}

/* use space between to put.... space between */
/* .header2{
    grid-area: header;
} */
#headline2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    text-shadow: 5px 5px 1px rgba(180, 172, 172, 0.541);
    font-size: 50px;
}
/* -----------------------------------------------------------------------
-------------------------------------------------------------------------- */
/* THIS IS THE NAV BAR CSS  */

/* this controls all CSS for the navbar */

.nav2{
    border: solid;
    color: rgb(125, 95, 60);
    text-decoration-color: aliceblue;
    text-decoration: none;
    grid-area: nav;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(60, 96, 125);
    background-size: 20%;
}
#navtext {
    text-decoration: none;
    color: aliceblue;
}

/* ------------------------------------------------------------------------
-------------------------------------------------------------------------- */

.slogan {
    grid-area: slogan;
    display: grid;
    /* grid-column: inherit; */
    font-family: fantasy;
    margin-left: 25%;
    width: 50%;
    height: 15%;
    background-color: rgba(153, 205, 50, 0.434);
    border-radius: 30%;
    box-shadow: 5px 5px 5px white;
    margin-top: 5%;
}
#slog2 {
    grid-area: slogan;
    display: grid;
    /* grid-column: inherit; */
    font-family: fantasy;
    margin-left: 25%;
    width: 50%;
    height: 15%;
    background-color: rgba(153, 205, 50, 0.434);
    border-radius: 30%;
    box-shadow: 5px 5px 5px white;
    margin-top: 5%;
}
.sellingpoint {
    font-size: 15px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40%;
    left: 50%;
    
}

.blog2{
    grid-area: blog2;
    display: flex;
    /* flex-direction: inherit; */
    border: solid;
}
#p2 {
    color: rgb(64, 77, 88);
    font-size: 45px;
    background-color: rgba(230, 201, 163, 0.911);
}

/* PAGE 3 CSS -------------------------- */

.container3{
        /* display: grid;
        border: solid;
        margin-top: 10%; */
        /* display: flex; */
        /* defining how many columns there will be */
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* defines how many rows there will be */
        /* grid-template-rows: 200px 150px 100px 100px;
        grid-template-areas: */
/*         
            "header3 header3 header3"
            "nav nav nav"
            "slogan3 slogan3 slogan3"
            "slogan3 slogan3 slogan3"
            "footer footer footer"; */
        /* grid-gap: 400px; */
        /* justify-content: space-around; */
        margin-top: 20%;
        align-items: center;
        /* flex-wrap: wrap; */
}

/* this is where I was upset because my Jquery wouldn't do the onhover the only good thing that came out of this 
is the fact that the prices actually showed up on the page --- so we're just going to rock with it --- next... */
/* .Resume1 {
    size: 50%;
}
.Cover_Letter2 {
    size: 50%;
}
#linkedin {
    size: 50%;
    width: 20%;
}
.Thank_You4 {
    height: 100px;
    width: 100px;
}*/

/* this is the css part for the prices portion on page 3 */
.popcorn {
    width: 100%;
    height: 200px;
    
  }
.popcorn {
      position: absolute;
     /* top: 10%;
      left: 50%; */
      margin: 25% 33%;
     /* margin-left: -250px; */
      width: 520px;
      height: 800px;
      background-color: rgb(134, 192, 117);
      padding: 20px 40px;
      z-index: 1000;
      margin: auto;
      top: 200%; left: 50%; bottom: 0; right: 0;
      /* display: none; */
  }
.popbox div {
      clear: both;
  }
  
.popbox h3 {
      display: inline;
      font-size: 100px;
  }
  #zero {
    font-size: 50px;
  }
/* .popbox nav.close {
    float: right;
    font-size: 50px;
    color: #000000;
    background:green;
    z-index: 9999;
    opacity: 0.2;
  } */


/* PAGE 4 CSS  ------------------------------- */

.slogan4{
    font-size: 45px;
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 200px 50px 100px;
    /* grid-template-areas:
    
        "header3 header3 header3"
        "nav nav nav"
        "slogan3 slogan3 slogan3"
        "slogan3 slogan3 slogan3"
        "footer footer footer"; */
    grid-gap: 30px;
    margin-top: 10%;
    margin-left: 25%;
    color: aliceblue;
    text-shadow: 10px 10px 20px black; 
}
#p3 {
    color: aliceblue;
    font-size: 25px;
}
/* no keyframe or javascript needed.. just used the transform and transition methods to enlarge on hover */
.scale{
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.box:hover .scale{
    transform: scale(1.5, 1.5);
}
.slogan4 {
    color: aliceblue;
    font-size: 100%;
    text-decoration: none;
}
#p4 {
    color: aliceblue;
    font-size: 100%;
    text-decoration: none;

}
#pg5 {
    text-decoration: none;
    color: aliceblue;
    left: 10%
}

/* PAGE 5 CSS -------------------------------- */

.container5{
    display: grid;
    margin-left: 25%;
    margin-top: 10%;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    
        "header3 header3 header3"
        "nav nav nav"
        "slogan3 slogan3 slogan3"
        "footer footer footer";

    grid-gap: 400px;
    color: aliceblue;
    text-shadow: 10px 10px 20px black; 
}
#Kendra {
    grid-area: header3;
    text-align: right;
}
#ken {
    float: left;
    animation: slideLeft 2s forwards;
}

#Carletta {
    grid-area: nav;
    text-align: left;
    flex: row-reverse;
    animation: slideLeft 2s forwards;
}
.Letta {
    float: right;
    animation: slideRight 2s forwards;
} 
#testimony {
    font-size: 150%;
}

/* ---------------------- TIME RESTRAINT ----------------

This one wasn't working with me... and I tried to do the keyframe 
animation for this part... but... yeah..


#Monique {
    grid-area: slogan3;
    text-align: right;
}
#mo {
    float: left;
    animation: slideRight 2s forwards;
} 
---------------------------------------------------------*/


#Klyn {
    grid-area: slogan3;
    text-align: right;
    animation: slideRight 2s forwards;
}
.lyn {
    float: left;
    animation: slideLeft 2s forwards;
}
/* here is what allows the pictures and words to flow into each other from opposite ends */
@keyframes slideLeft{
    0%{
          margin-left: -900px;
    }
    100%{
          margin: 0px;
    }
}
@keyframes slideRight{
  0%{
        margin-right: -900px;
  }
  100%{
        margin: 0px;
  }
}


#paraFirst{
    animation: slideRight 2s forwards;
}

/* PAGE 6 CSS ---------------------- ------------------------------*/

.build {
    color: aliceblue;
    font-size:  35px;
    text-align: center;
    margin-top: 15%;
}
.Video {
    margin-left: 40%;
    margin-top: 240px;
}


/* PAGE 7 CSS -------------------------------------- */
/* the background for the modal */
.modalback {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
/* the content of the modal */
.content {
    width: 500px;
    height: 55%;
    background-color: cadetblue;
    border-radius: 10%;
    text-align: center;
    padding: 20px;
    position: relative;
}
#schedule {
    align-content: center;
}
input {
    width: 50%;
    /* creating a block level element to take up all the space */
    display: block;
    margin: 15px auto;

}
.close {
    position: absolute;
    top: 12px;
    right: 2%;
    font-size: 30px;
    transform: rotate(20deg);
    cursor: pointer;
}

/* ----------------------------------------------------------
--------------------------------------------------------------- */


