
/* PAGE 1 CSS  ---------------------------- */
html{
    background-color: #744a2c;
    background-image: linear-gradient(to bottom left, black, #744a2c);
    background-repeat: no repeat;
    background-size: 6600%;
}
.container2 > div {
    border: solid;
}
.container2{
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 200px 50px 100px 200px 40pc;
    grid-template-areas:
    
        "header header header"
        "nav nav nav"
        "slogan slogan slogan"
        "blog blog blog"
        "footer footer footer";
    grid-gap: 10px;
}

/* use space between to put.... space between */
.childheader{
    font-family: 'Nunito', sans-serif;
    grid-area: header;
    display: block;
    justify-content: left;
    
    /* fix the header part */
}
#headline2 {
    display: flex;
    /* justify-content: center; */
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: aliceblue;
    justify-content: space-evenly;
    /* background-color: black; */
}
.child nav2{
    overflow: hidden;
    position: fixed;
    top: 0%;
    grid-area: nav;
    font-size: 30px;
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
    background-color: aliceblue;
    animation: child nav2 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}
/* trying to make my nav bar wigggle at random */
@keyframe .child nav2 {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);  
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform:  translateX(-8px);
    }
}



.slogan {
    grid-area: slogan;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    background-color: yellowgreen;
    border-radius: 30%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: 15%;
    width: 50%;
    /* background-position: center; */

}
#job {
    text-align: center;
}
.sellingpoint {
    font-size: 20px;
    font-family: fantasy;
    display: grid;
    grid-column: inherit;
    color: aliceblue;
    /* add animation here */
    /* fix this part to match the columns */
}
/* PARALLAX EFFECT FOR PAGE 1 */
.wrap {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px;
}
.secwrap {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-shadow:  0 0 50px rgba(0, 0, 0, 0.9);
}
.onwrap::after {
    content: " ";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 50%;
    left: 0;
    transform: translateZ(-2px)scale(2.0);
    background-size: 100%;
    z-index: -2;
}
.onwrap2::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 5px;
    left: 0;
    transform: translateZ(-1px)scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.backg1::after {
    background-image: url(../images/interviewing.jpg);
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;

}
.backg2::after {
    background-image: url(../images/photo8.jpeg);
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
}

#p1 {
    font-size: 20px;
    margin-left: 20%;
    background-color: rgb(3, 3, 3);
    opacity: .5;
    border-radius: 5%;

}
a{
    /* border: solid; */
}


/* PAGE 2 CSS ----------------------------- */



.container2 > div {
    /* border: solid; */
}
.container > div {
    border: solid;
    font-size: 200%;
}
.container{
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
    
        "header nav nav"
        "header blog blog"
        "footer1 footer1 footer1"
        "footer footer footer";
    grid-gap: 10px;
    margin-top: 10%;
}
.header{
    grid-area: header;
    /* border-radius: 40%; */
    border: none;
}
/* #pic1 {
    border-radius: 40%;
    height: 100%;
} */
.nav{
    grid-area: nav;
}
#began {
    color: aliceblue;
    font-size: 50%;
    font-family: 'Times New Roman', Times, serif;
    text-anchor: end;
}
.blog{
    grid-area: blog;
}
.footer1{
    grid-area: footer1;
}
.footer{
    grid-area: footer;
}

/* use space between to put.... space between */
/* .header2{
    grid-area: header;
} */
#headline2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    text-shadow: 5px 5px 1px rgba(180, 172, 172, 0.541);
    font-size: 50px;
}
.nav2{
    border: solid;
    color: #f7f1ec;
    grid-area: nav;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(60, 96, 125);
    background-size: 20%;
}
.slogan {
    grid-area: slogan;
    display: grid;
    /* grid-column: inherit; */
    font-family: fantasy;
    margin-left: 25%;
    width: 50%;
    height: 15%;
    background-color: rgba(153, 205, 50, 0.434);
    border-radius: 30%;
    box-shadow: 5px 5px 5px white;
    margin-top: 5%;
}
#slog2 {
    grid-area: slog2;
    display: grid;
    /* grid-column: inherit; */
    font-family: fantasy;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    height: 15%;
    background-color: rgba(153, 205, 50, 0.434);
    border-radius: 30%;
    box-shadow: 5px 5px 5px white;
    margin-top: 5%;
}
.sellingpoint {
    font-size: 15px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 40%;
    left: 50%;
    
}

.blog2{
    grid-area: blog2;
    display: flex;
    /* flex-direction: inherit; */
    border: solid;
}
#p2 {
    color: rgb(64, 77, 88);
    font-size: 25px;
    background-color: rgba(230, 201, 163, 0.911);
}
/* .footer4{
    background-position: 10px; 
    border: solid;   
    grid-area: blog2;
    grid-column: 1 /1;
    background-color: blueviolet;
}
.footer5{
    grid-area: footer;
    grid-row: 5 /5;
    grid-column: 2 /3;
    background-color: blueviolet
}
a{
    text-decoration: none;
} */


/* PAGE 3 CSS -------------------------- */

.container3{
        display: grid;
        margin-top: 10%;
        /* defining how many columns there will be */
        grid-template-columns: 1fr 1fr 1fr;
        /* defines how many rows there will be */
        grid-template-rows: 200px 50px 100px;
        grid-template-areas:
        
            "header3 header3 header3"
            "nav nav nav"
            "slogan3 slogan3 slogan3"
            /* "slogan3 slogan3 slogan3" */
            "footer footer footer";
        grid-gap: 500px;
        justify-content: center;
}
#linkedin {
    width: 75%;
}
.box43rd1 {
        grid-area: header;
        
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-family: monospace;
        color: aliceblue;
        margin-top: 5%;
        /* fix the header part */
}
#move {
    align-content: center;
}
#SweetChariott:hover {
            animation: SweetChariott 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            height: 20%;
            width: 20%;
            cursor: pointer;
            display: block;
}
#SweetChariott {
    /* display: none; */
}

@keyframes SweetChariott {
    0% {
              transform: rotateX(-100deg);
              transform-origin: top;
      opacity: 0;
    }
    100% {
              transform: rotateX(0deg);
              transform-origin: top;
      opacity: 1;
    }
  }
  


/* PAGE 4 CSS  ------------------------------- */

.container4{
    font-size: 20px;
    display: grid;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 200px 50px 100px;
    grid-template-areas:
    
        "header3 header3 header3"
        "nav nav nav"
        "slogan3 slogan3 slogan3"
        "slogan3 slogan3 slogan3"
        "footer footer footer";
    grid-gap: 150px;
    margin-top: 10%;
    color: aliceblue;
    text-shadow: 10px 10px 20px black; 
}
#p3 {
    color: aliceblue;
    font-size: 25px;
}
.scale{
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}
.box:hover .scale{
    transform: scale(1.5, 1.5);
}
.slogan4 {
    color: aliceblue;
    font-size: 50%;
}
#pg5 {
    text-decoration: none;
    color: aliceblue;
    left: 10%
}

/* PAGE 5 CSS -------------------------------- */

.container5{
    display: grid;
    margin-left: 25%;
    margin-top: 10%;
    /* defining how many columns there will be */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* defines how many rows there will be */
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    
        "header3 header3 header3"
        "nav nav nav"
        "slogan3 slogan3 slogan3"
        "footer footer footer";

    grid-gap: 400px;
    color: aliceblue;
    text-shadow: 10px 10px 20px black; 
}
#Kendra {
    grid-area: header3;
    text-align: right;
}
#ken {
    float: left;
    animation: slideLeft 2s forwards;
}

#Carletta {
    grid-area: nav;
    text-align: left;
    flex: row-reverse;
    animation: slideLeft 2s forwards;
}
.Letta {
    float: right;
    animation: slideRight 2s forwards;
} 
/* #Monique {
    grid-area: slogan3;
    text-align: right;
}
#mo {
    float: left;
    animation: slideRight 2s forwards;
} */
#Klyn {
    grid-area: slogan3;
    text-align: right;
    animation: slideRight 2s forwards;
}
.lyn {
    float: left;
    animation: slideLeft 2s forwards;
}
@keyframes slideLeft{
    0%{
          margin-left: -900px;
    }
    100%{
          margin: 0px;
    }
}
@keyframes slideRight{
  0%{
        margin-right: -900px;
  }
  100%{
        margin: 0px;
  }
}


#paraFirst{
    animation: slideRight 2s forwards;
}

/* PAGE 6 CSS ---------------------- */

.build {
    color: aliceblue;
    font-size:  35px;
    text-align: center;
    margin-top: 25%;
}
#b {
    text-align: center;
    list-style: none;
    margin-top: 25%;
}


/* PAGE 7 CSS -------------------------------------- */


